ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align:center;
  }
  
li {
    display: inline-block;
  }

li a {
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    color:black;
  }

.logo{
    margin: auto;
    display: flex;
    width: 10%;
}

body{
    background-color: beige;
    font-family: "police", Arial, Helvetica, sans-serif;
    margin:0px;  
}

.sidebar{
    background: #ac9b83;
    width: 300px;
    height: 900px;
    margin-left: 0px;
    color: white;
    position: absolute;
  }
  
.s{
    transform: rotate(-90deg);
    color: white;
    font-size: 90px;
    position: absolute;
    width: 1000px;
    margin-left: -28%;
    margin-top: 6%;
    margin-bottom: 11%;
  }

@font-face {
    font-family: police;
    src: url(ERASLGHT.TTF);
}

.container{
        width:1000px;
        height: 250px;
          margin-top: 1%;
          margin-left: 27%;
}

.dessin{
    height: 300px;
    width: 300px;
    background-color: #989d8c;
}

.d{
  transform: rotate(-90deg);
  color: white;
  text-align: left;
  position: absolute;
  top: 500px;
  left: 450px;
}

.photo{
    height: 300px;
    width: 300px;
    background-color: #989d8c;    
}

.p{
  transform: rotate(-90deg);
  color: white;
  text-align: left;
  position: absolute;
  top: 520px;
  padding-left: 50px;
}

.video{
    height: 300px;
    width: 300px;
    background-color: #989d8c;    
}

.v{
    transform: rotate(-90deg);
    color: white;
    text-align: left;
    position: absolute;
    top: 500px;
    left: 1050px;
  }

.photo, .dessin{
    display: inline-block;

}

.autre{
    height: 300px;
    width: 300px;
    background-color: #989d8c;    
}


.a{
    transform: rotate(-90deg);
    color: white;
    text-align: left;
    position: absolute;
    top: 800px;
    left: 450px;
  }

  .video, .autre{
    display: inline-block;
  }